[report]
omit =
    *tests/*
    */python?.?/*
    */site-packages/nose/*
    */app/*__init__.py
    */__pycache__/*
    *.pytest_cache
    *.pyc
    *asyncio/*
    *concurrent/*
    *ctypes/*
    *decimal.py
    *encodings/*
    *hmac.py
    *html/*
    *http/*
    *mimetypes.py
    *multiprocessing/*
    *numbers.py
    *stringprep.py
    *uuid.py
    *six.py
    *mistune.py
    *itsdangerous.py
    *yaml/*
    *werkzeug/*
    *jinja2/*
    *jsonschema/*
    *flask/*
    *flask_restful/*
    *click/*
    *flasgger/*
    *markupsafe/*
    *markupsafe/*
    *chardet/*
    *urllib3/*
    *idna/*
    *model.py
    */venv/*
    *typing.py
    */home/travis/virtualenv/*
    *jwt/*
    *psycopg2/*
